---
eleventyExcludeFromCollections: true
layout: base.njk
title: Home
meta:
  robots:
    value: noindex
---

<div class="relative w-full min-h-full">
  <canvas id="homeCanvas" class="absolute w-full" style="height: calc(100vh - 5rem);"></canvas>
  <div class="content post pb-6 h-auto z-10 translate-x-0" style="width: calc(100% - 2rem);">
    <h1>Content</h1>
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
</div>

<script src="{{ '/assets/js/three.js' | addHash }}" type="module"></script>